/*-----------------------------------------------------------------*/
/*general*/
/*-----------------------------------------------------------------*/

body {
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  color: #414b5c;
}
h2 {
  font-size: 2rem;
  color: #414b5c;
}
h3 {
  color: #414b5c;
}
h4 {
  color: #414b5c;
}
p {
  font-size: 1rem;
  color: #878787;

  line-height: 1.6;
}
ul li {
  color: #878787;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  padding: 4rem 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 1px solid black;
  padding: 0 16px;
}
button {
  background-color: #2562ee;
  color: #e7efff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0046ea;
}
/*-----------------------------------------------------------------*/
/*nav*/
/*-----------------------------------------------------------------*/
nav {
  background-color: #fefefe;
}
.nav-container {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.name {
  flex: 1;
  color: #6892ec;
  font-weight: 700;
  font-size: 1.5rem;
}
.nav-links {
  display: flex;
  gap: 10px;
}
nav ul a {
  color: #aab3bf;
  font-weight: 600;
}
nav a {
  text-decoration: none;
}
.hamburger {
  background-color: transparent;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  border-radius: 0;
}
.hamburger:hover {
  background-color: #ededed;
}
.hamburger div {
  height: 3px;
  background-color: #6d6d6d;
  border-radius: 5px;
}
/*-----------------------------------------------------------------*/
/*hero/home*/
/*-----------------------------------------------------------------*/
#home {
  background: linear-gradient(to right, #f3f7f9, #e7ecf2);
}
.hero-section {
  display: flex;
}
.hero-section main,
.hero-section aside {
  display: flex;
  flex: 1;
}
.hero-section main {
  flex-direction: column;
  align-items: flex-start;
}
.hero-section aside {
  justify-content: center;
  align-items: center;
}
.img-container {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #c7ccd4;
  overflow: hidden;
}
.img-container img {
  width: 100%;
}
/*-----------------------------------------------------------------*/
/*about*/
/*-----------------------------------------------------------------*/
.about-section {
  display: flex;
  gap: 4rem;
}
.about-section main {
  flex: 2;
}
.about-section aside {
  flex: 1;
}
.about-section aside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-section aside ul li div {
  display: flex;
  justify-content: space-between;
}
.bar-container {
  background-color: #c3c3c3;
  border-radius: 5px;
  overflow: hidden;
  width: 50%;
}
.bar {
  background-color: #375aab;
  height: 100%;
}
.javascript {
  width: 90%;
}
.react {
  width: 85%;
}
.nodejs {
  width: 90%;
}
.htmlcss {
  width: 80%;
}
/*-----------------------------------------------------------------*/
/*projects*/
/*-----------------------------------------------------------------*/
#projects {
  background-color: #f3f7f9;
}
.project-section h2 {
  text-align: center;
}
.project-section > div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.project-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: hidden;
}
.proj-img-container {
  background-color: #c7ccd4;
}
.proj-img-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.proj-content,
.proj-img-container {
  flex: 1;
}
.proj-content {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.proj-content button {
  background-color: #f99f0a;
  color: white;
  cursor: pointer;
}
.proj-content button:hover {
  background-color: #ffb33a;
}
/*-----------------------------------------------------------------*/
/*contact*/
/*-----------------------------------------------------------------*/
.contact-container {
  display: flex;
}
.contact-section h2 {
  text-align: center;
}

.contact-container aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container aside h3 {
  margin: 0;
}
.contact-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  color: #414b5c;
}
input {
  padding: 10px;
}
textarea {
  height: 100px;
}
form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-btn {
  padding: 10px 25px;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  background-color: #3a4eff;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.icon-container:hover {
  transform: scale(1.1);
}

.icon-container img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-----------------------------------------------------------------*/
/*footer*/
/*-----------------------------------------------------------------*/

footer {
  background-color: rgb(30, 34, 65);
  display: flex;
  justify-content: center;
}
footer p {
  color: white;
}
/*-----------------------------------------------------------------*/

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .hero-section {
    flex-direction: column;
    gap: 20px;
  }
  .hero-section main {
    text-align: center;
    align-items: center;
  }
  .about-section {
    flex-direction: column;
  }
  .about-section {
    text-align: center;
  }
  .project-section > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .project-container {
    width: 100%;
  }
  .proj-content button {
    width: 100%;
  }
  .contact-section h2 {
    text-align: center;
  }
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }
  .form-btn {
    width: 100%;
  }
  .contact-container aside {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
